@font-face {
  font-family: Metropolis;
  src: url(./assets/fonts/Metropolis-Medium.woff) format("woff");
}

@font-face {
  font-family: Lora;
  src: url(./assets/fonts/lora-v23-latin-regular.woff2) format("woff2"),
    url(./assets/fonts/lora-v23-latin-regular.woff) format("woff");
}

body {
  margin: 0;
  font-family: "Metropolis", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body a {
  padding: 0 5px;
  color: #729a87;
  transition: color 50ms ease-in-out;
  text-wrap: nowrap;
}

body a:hover {
  color: #81371c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*  Calender Event min-height */
.rbc-time-content .rbc-day-slot .rbc-event {
  min-height: 2.5em;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

strong {
  display: block;
  padding: 10px 0;
}

.MuiTableRow-hover {
  cursor: pointer;
}